$c-primary: #000000cc;
$c-primary-light: #00000066;
$c-secondary: #ffffffcc;
$c-secondary-light: #ffffff88;

$c-primary-background: #ffffff;
$c-secondary-background: #ffffff77;
$c-input-background: #ffffff66;