@import "colors";
@import "globals";

@mixin m-card-shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 20px;

  background-color: $c-secondary-background;
}

@mixin m-non-selectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin m-text {
  margin: 0;
  padding: 0;
  color: $c-primary;
  font-family: $font-family-text;
}

@mixin m-header {
  @include m-text;
  text-align: center;
  font-size: 36px;
}